@page "/RegistrosTickets"
@inject TicketsBLL TicketsBLL
@inject NotificationService notificationService
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

<PageTitle>Registro Tickets</PageTitle>

<EditForm Model="Ticket" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class=" card-header">
                <h3>Registro de Tickets</h3>
            </div>
            <div class=" card-body">

                @*TicketId*@
                <div class="mb-3">
                    <label class="form-group"> TicketId </label>
                    <div class="input-group">
                        <InputNumber class="col col-4" @bind-Value="Ticket.TicketId" />
                        <ValidationMessage For="@(() => Ticket.TicketId)" />
                        <button type="button" class="btn btn-sm btn-primary" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /> </button>
                    </div>
                </div>

                @*ClienteId*@
                <div class="mb-3">
                    <label class="form-group"> ClienteId </label>
                    <div class="input-group">
                        <InputNumber class="form-control col-2" @bind-Value="Ticket.ClienteId" />
                        <ValidationMessage For="@(() => Ticket.ClienteId)" />
                    </div>
                </div>

                @*SistemaId*@
                <div class="mb-3">
                    <label class="form-group"> SistemaId </label>
                    <div class="input-group">
                        <InputNumber class="form-control col-2" @bind-Value="Ticket.SistemaId" />
                        <ValidationMessage For="@(() => Ticket.SistemaId)" />
                    </div>
                </div>

                @*PrioridadId*@
                <div class="mb-3">
                    <label class="form-group"> PrioridadId </label>
                    <div class="input-group">
                        <InputNumber class="form-control col-2" @bind-Value="Ticket.PrioridadId" />
                        <ValidationMessage For="@(() => Ticket.PrioridadId)" />
                    </div>
                </div>

                @*SolicitadoPor*@
                <div class=" mb-3">
                    <label class="form-group"> Solicitado Por </label>
                    <div class="input-group">
                        <InputText class="form-control" @bind-Value="Ticket.SolicitadoPor" placeholder="Coloque por quien fue solicitado" />
                        <ValidationMessage For="@(() =>Ticket.SolicitadoPor)" />
                    </div>
                </div>

                @*Asunto*@
                <div class=" mb-3">
                    <label class="form-group"> Asunto </label>
                    <div class="input-group">
                        <InputTextArea class="form-control" @bind-Value="Ticket.Asunto" placeholder="Coloque un Asunto" />
                        <ValidationMessage For="@(() =>Ticket.Asunto)" />
                    </div>
                </div>

                @*Descripcion*@
                <div class=" mb-3">
                    <label class="form-group"> Descripcion </label>
                    <div class="input-group">
                        <InputTextArea class="form-control" @bind-Value="Ticket.Descripcion" placeholder="Coloque una Descripcion" />
                        <ValidationMessage For="@(() =>Ticket.Descripcion)" />
                    </div>
                </div>

                @*FechaT*@
                <div Class="form-group mt-3">
                    <label class="row-text"> Dias Compromiso </label>
                    <div class="input-group">
                        <input type="date" @bind-value="Ticket.FechaT" />
                        <ValidationMessage For="@(() => Ticket.FechaT)" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</EditForm>


@code {

    public Tickets Ticket { get; set; } = new Tickets();


    private int detalleId = 0;



    [Parameter]
    public int TicketId { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
        if (TicketId > 0)
        {
            Ticket.TicketId = TicketId;
            Buscar();
        }
    }

    public void Buscar()
    {

        var TicketsBuscar = TicketsBLL.Buscar(Ticket.TicketId);
        if (TicketsBuscar != null)
        {
            Ticket = TicketsBuscar;
        }
        else
        {
            notificationService.ShowNotificacion(
            titulo: "error de busqueda",
            mensaje: "Registro no encontrado",
            NotificationSeverity.Error);
        }
    }

    public void Nuevo()
    {
        this.Ticket = new Tickets();
        detalleId = 0;
    }

    public void Guardar()
    {
        if (Validar())
        {
            notificationService.ShowNotificacion(
            titulo: "Validacion",
            mensaje: "Error revise los campos",
            NotificationSeverity.Error);
            return;
        }

        var guardo = TicketsBLL.Guardar(this.Ticket);
        if (guardo)
        {
            detalleId = 0;
            notificationService.ShowNotificacion(
            titulo: "Exito",
            mensaje: "Guardado correctamente",
            NotificationSeverity.Success);
            Nuevo();
        }
        else
        {
            notificationService.ShowNotificacion(
            titulo: "Error",
            mensaje: "Ocurrio un error y no fue posible guardar",
            NotificationSeverity.Error);
        }
    }

    public void Eliminar()
    {
        Buscar();

        if (TicketsBLL.Eliminar(this.Ticket))
        {
            notificationService.ShowNotificacion(
            titulo: "Exito",
            mensaje: "Eliminado con Exito",
            NotificationSeverity.Success);
            Nuevo();
        }
        else
        {
            notificationService.ShowNotificacion(
            titulo: "Error",
            mensaje: "Ocurrio un error y no fue posible eliminar",
            NotificationSeverity.Error);
        }
    }

    private bool Validar()
    {

        return TicketsBLL.Validar(Ticket.Descripcion);

    }

    
}
